.color-pallete1 {
  color: #40514e;
  background-color: #f4fefa;
}
.color-pallete2 {
  color: #40514e;
  background-color: #30e3ca;
}
.color-pallete3 {
  color: #f4fefa;
  background-color: #11999e;
}
.color-pallete4 {
  color: #f4fefa;
  background-color: #40514e;
}
.gradient-background {
  background-image: linear-gradient(to right, #40514e, #f4fefa);
}
.gradient-background-active {
  background-image: linear-gradient(to left, #40514e, #f4fefa);
}
.gradient-text {
  text-transform: uppercase;
  background: linear-gradient(to right, #f4fefa 0%, #40514e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text-active {
  text-transform: uppercase;
  background: linear-gradient(to left, #f4fefa 0%, #40514e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.transparent-background {
  background-color: rgba(0, 0, 0, 0);
}
.flexcontrainer-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.flexcontrainer-fill {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.flexcontrainer-block {
  padding: 15px 10px;
  display: inline-block;
}
.container {
  padding: 15px;
}
.navbar {
  height: 50px;
  padding: 0 50px;
}

.underline-transition {
  position: relative;
  text-decoration: none;
}

.underline-transition:hover {
}
.underline-transition:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.underline-transition:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.normal-fa-fonts {
  margin: 5px;
  font-size: 40px;
}
.faContainer .normal-fa-fonts {
  margin: 0;
}
.faContainer {
  position: relative;
  display: inline-block;
}
.heartUnder {
  color: #ddd;
  vertical-align: top;
}
.heartOver {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.faPercent {
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.hearColor {
  color: #30e3ca;
}
.starColor {
  color: #30e3ca;
}
.padding-bottom {
  padding: 10px 0;
}
.margin-bottom {
  margin: 10px 0;
}
.small-fonts{
  font-size:14px;
}